@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #097ab2;
$dark-blue: #06689a;
$orange-light: #e4946c;
$yellow-light: #f4cc9c;
$red-dark: #703314;
$gray-medium: #6c7c9c;
$blue-light: #94b4c4;


* {
  @apply m-0 p-0 box-border;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  @apply border-none;
}

.main {
  @media (max-width: 56.25rem) {
    max-height: 43.75rem;
  }

  @media (min-width: 80rem) {
    height: calc(100% - 10.0625rem);
  }
}

.properties {
  @apply flex flex-1 flex-wrap justify-center gap-4 h-full overflow-y-auto pb-8;

  &::-webkit-scrollbar {
    @apply hidden;
  }

  &__container {
    @apply h-full flex-1 p-8;

    max-width: 55rem;
  }
}

.card {
  max-height: 19.375rem;

  &__image {
    height: 8.125rem;
  }
}

.button {
  @apply border rounded-md px-5 py-1.5 text-white bg-gray-medium;
}
